body {
  font-family: 'Open Sans', georgia, serif;
  font-size: 0.94em;
  line-height: 1.68em;
  color: #455463;
  background-color: white;
  margin: 0;
  height: 100%;
}

#header {
    width:100%;
    height: 60px;
    background-color: #222c37;
    padding-top: auto;
    display: block;
}
#header .headercontent { 
    font-size: 15px; 
    padding: 16px 0 0 20px;
}
#header a { text-decoration: none; color:#fff; font-weight: bold; }

#container { 
    display: flex; 
    position: absolute;
    top:60px;
    bottom:0;
    left:0;
    right:0;
}
#content {
    padding: 20px 40px 20px 40px;
}

#toc {
    background-color: #f3f3f3;
    width: 250px;
    padding: 20px 10px 10px 15px;
}

#toc h3 { font-size: 1.05em; padding: 0; margin: 0px 0 5px 0; }
#toc ul { margin: 0 10px 0 15px; padding: 0; }
#toc li { list-style-type: none; }
#toc a {
    display: block;
    color: #455463;
    word-wrap: break-word;
    text-decoration: none;
    font-size: 0.98em;
    line-height: 1.3em;
    margin-bottom: 10px;
}
#toc a:hover { text-decoration: underline; }
#toc p { margin: 0; }


h1 { font-size: 2em; font-weight: 700; }
h2 { font-size: 1.5em; }
h1, h2, h3, h4, h5, h6 {
    color: #1b2229;
}

a { color: #b83c82; }

blockquote {
    margin: 0px;
    padding: 10px;
    background-color: #cdddef;
}

#post p {
    margin-left: 15px;
}

.footer {
    border-top: 1px solid #cccccc;
    padding: 5px;
    margin-bottom: 25px;
}

ul.posts li {
    list-style: none;
}

span.post_list_date {
    color: grey;
    font-size: 70%;
}

pre {
    padding: 20px;
    margin: 0 0 30px 0;
    border: #ddd 1px solid;
    background: rgb(247, 247, 247);
    font-size: 0.96em;
    line-height: 1.65em;
    color: #455463;
    overflow: auto;
    width:100%;
}

code {
    font-family: 'Inconsolata', monospace;
}