{% assign pages = site.pages | sort: 'order' %}
{% for categoryitem in site.data.tableofcontents.order %}
  {% if categoryitem.tag == "SEPARATOR" %} <hr> {% endif %}
  {% if categoryitem.title %} <h3>{{ categoryitem.title }}</h3>  {% endif %}
  
    {% if categoryitem.category %}
    <ul>
    {% for doc in pages %}
      {% if doc.category == categoryitem.category %}
      <li class="{% if doc.url == page.url %}active{% endif %}">
        <a href="{{ doc.url }}">{{ doc.title}}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
    {% for link in categoryitem.items %}
      <p><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></p>
    {% endfor %}
    {% endif %} 
  
{% endfor %}